:root {
  --bg-col: #1f1f1f;
  --mg-col: #2f2f2f;
  --fg-col: #3f3f3f;
  --text-col: #efefef;

  --a-col-new: lightblue;
  --a-col-vis: pink;
}

.open-sans-m {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body {
  background-color: var(--bg-col);
  color: var(--text-col);
  margin: 1.4em 1.6em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > * {
  margin: 0.3em;
}

header {
  background-color: var(--mg-col);
  display: flex;
  flex-direction: row;
  font-size: 150%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > * {
  margin: 1em;
  padding: 0.3em;
}

section {
  background-color: var(--mg-col);
  padding: 0.1em 1.2em 0.1em 1em;
  margin: 0.6em;
}

.about {
  display: flex;
}

footer {
  background-color: var(--mg-col);
  padding: 0.3em 1em;
  justify-content: space-between;

}

a:link {
  color: var(--a-col-new);
}

a:visited {
  color: var(--a-col-vis);
}